@use '@Theme/colors.scss' as *;

.slideIn {
    background: $white;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9;
    right: 0;
    width: 40%;
    padding: 30px;
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}