@use '@Theme/colors.scss' as *;

.sideMenu {
    background: $darkGray;
    box-sizing: border-box;
    width: 350px;
    height: 100%;
    gap: 30px;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.logoWrapper {
    padding: 10px 35px 10px 10px;
}

.burger {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;

    span {
        background: $orange;
    }
}

.emptyListMessage {
    padding: 10px;
    color: $white;
    font-size: 18px;
}
