@use '@Theme/colors.scss' as *;

.place {
    min-width: 180px;
    max-width: 180px;
    height: 200px;
    background: $lightGray;
    padding: 20px 10px;
    color: $white;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    transition: all .2s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: $darkGray;
        opacity: .4;
    }

    &:hover {
        background: $orange;
        transition: all .2s ease;
    }

    .placeInner {
        height: 100%;
        justify-content: end;
        gap: 5px;
        display: flex;
        flex-direction: column;
    }
}